<?xml version="1.0" encoding="UTF-8" ?>

<config>
  <!-- Enter the Application URL for your instance of the JS-based Azure Mobile Service (for customer, account and order data) -->
  <customerDataServiceUrl>https://xamarincrmv2-customerdataservice.azure-mobile.net/</customerDataServiceUrl>

  <!-- Enter the Application URL for your instance of the .NET Web API -based Azure Mobile Service (for catalog data) -->
  <catalogDataServiceUrl>https://xamarincrmv2-catalogdataservice.azure-mobile.net/api/</catalogDataServiceUrl>

  <!---Azure Active Directory Authentication tenant authority URL -->
  <azureActiveDirectoryAuthenticationTenantAuthorityUrl>https://login.windows.net/xamcrm.onmicrosoft.com</azureActiveDirectoryAuthenticationTenantAuthorityUrl>

  <!---Azure Active Directory Authentication return URI -->
  <azureActiveDirectoryAuthenticationReturnUri>http://localhost</azureActiveDirectoryAuthenticationReturnUri>

  <!---The Azure AD-authenticated resource(s) that the app should access -->
  <azureActiveDirectoryAuthenticationResourceUri>https://graph.windows.net</azureActiveDirectoryAuthenticationResourceUri>
</config>