<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.xamarin.xamarincrm</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MinimumOSVersion</key>
	<string>8.0</string>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>CFBundleIconFiles</key>
	<array>
		<string>Icon</string>
		<string>Icon@2x</string>
		<string>Icon-60@2x</string>
		<string>Icon-72</string>
		<string>Icon-72@2x</string>
		<string>Icon-76</string>
		<string>Icon-76@2x</string>
		<string>Icon-Small</string>
		<string>Icon-Small@2x</string>
		<string>Icon-Small-50</string>
		<string>Icon-Small-50@2x</string>
		<string>Icon-Small-40</string>
		<string>Icon-Small-40@2x</string>
		<string>icon_57</string>
		<string>icon_114</string>
		<string>icon_120</string>
		<string>icon_29</string>
		<string>icon_58</string>
		<string>icon_80</string>
	</array>
	<key>NSMainNibFile</key>
	<string></string>
	<key>NSMainNibFile~ipad</key>
	<string></string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
		<string>es</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Xamarin CRM</string>
	<key>CFBundleShortVersionString</key>
	<string>2.1.1</string>
	<key>CFBundleVersion</key>
	<string>2.1.1</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypeLocation</string>
			<key>UIApplicationShortcutItemSubtitle</key>
			<string>Sales</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Sales</string>
			<key>UIApplicationShortcutItemType</key>
			<string>com.xamarin.xamarincrm.001</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypeLocation</string>
			<key>UIApplicationShortcutItemSubtitle</key>
			<string>Customers</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Customers</string>
			<key>UIApplicationShortcutItemType</key>
			<string>com.xamarin.xamarincrm.002</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypeLocation</string>
			<key>UIApplicationShortcutItemSubtitle</key>
			<string>Products</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Products</string>
			<key>UIApplicationShortcutItemType</key>
			<string>com.xamarin.xamarincrm.003</string>
		</dict>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
  	<key>NSAllowsArbitraryLoads</key>
  	<true/>
</dict>
</dict>
</plist>
