<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HockeySDK.Xamarin" version="4.1.0-beta3" targetFramework="MonoAndroid60" />
  <package id="Microsoft.Azure.Mobile.Client" version="2.1.0" targetFramework="MonoAndroid60" />
  <package id="Microsoft.Azure.Mobile.Client.SQLiteStore" version="2.1.0" targetFramework="MonoAndroid60" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="MonoAndroid42" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="MonoAndroid42" />
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="3.12.0" targetFramework="MonoAndroid60" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="MonoAndroid42" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="MonoAndroid60" />
  <package id="Refractored.FloatingActionButton" version="1.4.0" targetFramework="MonoAndroid60" />
  <package id="SQLitePCL" version="3.8.7.2" targetFramework="MonoAndroid42" />
  <package id="Xam.Plugin.ExternalMaps" version="3.0.0" targetFramework="MonoAndroid60" />
  <package id="Xam.Plugins.Forms.ImageCircle" version="1.4.1" targetFramework="MonoAndroid60" />
  <package id="Xamarin.Android.Support.Animated.Vector.Drawable" version="23.3.0" targetFramework="MonoAndroid60" />
  <package id="Xamarin.Android.Support.Design" version="23.3.0" targetFramework="MonoAndroid60" />
  <package id="Xamarin.Android.Support.v4" version="23.3.0" targetFramework="MonoAndroid60" />
  <package id="Xamarin.Android.Support.v7.AppCompat" version="23.3.0" targetFramework="MonoAndroid60" />
  <package id="Xamarin.Android.Support.v7.CardView" version="23.3.0" targetFramework="MonoAndroid60" />
  <package id="Xamarin.Android.Support.v7.MediaRouter" version="23.3.0" targetFramework="MonoAndroid60" />
  <package id="Xamarin.Android.Support.v7.RecyclerView" version="23.3.0" targetFramework="MonoAndroid60" />
  <package id="Xamarin.Android.Support.Vector.Drawable" version="23.3.0" targetFramework="MonoAndroid60" />
  <package id="Xamarin.Forms" version="2.3.0.107" targetFramework="MonoAndroid60" />
  <package id="Xamarin.Forms.Maps" version="2.3.0.107" targetFramework="MonoAndroid60" />
  <package id="Xamarin.GooglePlayServices.Base" version="29.0.0.1" targetFramework="MonoAndroid60" />
  <package id="Xamarin.GooglePlayServices.Basement" version="29.0.0.1" targetFramework="MonoAndroid60" />
  <package id="Xamarin.GooglePlayServices.Maps" version="29.0.0.1" targetFramework="MonoAndroid60" />
</packages>